.divCard{
    width: 30vh;
    height: 35vh;
    background-color: whitesmoke;
    margin-left: 30px;
    border-radius: 10px;
    margin-bottom: 3%;
}
.divCard img{
    border-radius: 50%;
    height: 20vh;
    width: 20vh;
    margin-top: -12vh;
    margin-left: 4.6vh;
}
.divCard3 {
    margin-top: 1vh;
    margin-left: 10vh;
}


