.divCards{

    background-color: rgba(0, 255, 255, 0.388);
    padding-left: 10vw;
    padding-bottom: 3vw;
    padding-top: 20vh;
}
.divCards2{

    background-color: rgba(255, 102, 0, 0.388);
    padding-left: 10vw;
    padding-bottom: 3vw;
    padding-top: 20vh;
}
.divCards3{

    background-color: rgba(0, 255, 21, 0.388);
    padding-left: 10vw;
    padding-bottom: 3vw;
    padding-top: 20vh;
}
.divCards4{

    background-color: rgba(128, 0, 255, 0.388);
    padding-left: 10vw;
    padding-bottom: 3vw;
    padding-top: 20vh;
}
.divCards1{
    display: flex;

}
.divCard1{
    width: 30vh;
    height: 15vh;
    background-color: aquamarine;
    border-radius: 10px 5px 0px 0px;
}

.tituloCard{
    margin-left: 23vw;
    margin-top: -15vh ;
    margin-bottom: 5vh;
}